<%= form_with(model: shift, local: true, html: { class: 'form-horizontal center' }) do |form| %>
  <% if shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <% if shift.new_record? %>
        <%= form.date_select :start_date, id: :shift_start_date %>
    <% else %>
        <%= form.label shift.start_date %>
  <% end %>
  </div>

  <div class="field">
    <%= form.label :worker_id %>
    <%= form.select :worker_id, @workers.map{ |worker| [worker.first_name, worker.id] }, :include_blank => true %>
  </div>

  <div class="actions">
    <%= form.submit(shift.new_record? ? nil : "Assign") %>
  </div>
<% end %>
