<h3>List of Shifts</h3>
<table class="table">
  <thead>
  <tr>
    <th>Id</th>
    <th>Start date</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% shifts.each do |shift| %>
      <tr>
        <td><%= shift.id %></td>
        <td><%= shift.start_date %></td>
        <td><%= link_to 'Edit', edit_shift_path(shift), class: "btn btn-info" %></td>
      </tr>
  <% end %>
  </tbody>
</table>