<p id="notice"><%= notice %></p>

<div>
  <%= link_to "Create Shift", new_shift_path, class: "btn btn-info"  %>
</div>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Start date</th>
      <th>Worker</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shifts.each do |shift| %>
      <tr>
        <td><%= shift.id %></td>
        <td><%= shift.start_date %></td>
        <td><%= link_to shift.worker.try(:first_name) || "Unassigned", shift.worker %></td>
        <td><%= link_to shift.worker ? "Change assigned" : "Assign", edit_shift_path(shift), class: "btn btn-info"  %></td>
        <td><%= link_to 'Destroy', shift, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>