<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @shift.start_date %>
</p>

<p>
  <strong>Worker:</strong>
  <%= link_to @shift.worker.try(:first_name) || "Unassigned", @shift.worker %>
</p>

<%= link_to 'Edit', edit_shift_path(@shift), class: "btn btn-info"  %>
<%= link_to 'Back', shifts_path, class: "btn btn-default"  %>
