<p id="notice"><%= notice %></p>

<div>
  <%= link_to "New Worker", new_worker_path, class: "btn btn-info"  %>
</div>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>First name</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.id %></td>
        <td><%= worker.first_name %></td>
        <td><%= worker.status %></td>
        <td><%= link_to 'Show', worker, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_worker_path(worker), class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>