<p id="notice"><%= notice %></p>

<h3>Worker: <%= @worker.first_name %></h3>

<p>
  <strong>Status:</strong>
  <%= @worker.status %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker), class: "btn btn-info"  %>
<%= link_to 'Back', workers_path, class: "btn btn-default"  %>

<%= render partial: "shifts/list_for_worker", locals: {shifts: @worker.shifts} %>
