<!DOCTYPE html>
<html>
  <head>
    <title>Planningdegarde</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>



  <body>

  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Planning de garde</a>
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(shifts_path) %>"> <%= link_to "Shifts", shifts_path %></li>
        <li class="<%= 'active' if current_page?(workers_path) %>"> <%= link_to "Workers", workers_path %></li>
      </ul>
    </div><!--/.container-fluid -->
  </nav>

  <div class="container body-content" >
    <%= yield %>
  </div>
  </body>
</html>